.body-lg {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
}

.body-lg-bold {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
}

.body-md {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  text-align: left;
}

.body-md-medium {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.25px;
  line-height: 16px;
  text-align: left;
}

.body-md-semibold {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 24px;
  text-align: left;
}

.txt-btn {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}

.overline {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}

.overline-bold {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: left;
}

.link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 16px;
  text-align: left;
}

// ---

.input {
  border-radius: 5px;
  border: solid 1.5px $color-gray-200;
  color: $txt-color-dark;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0px;
  line-height: 16px;
  padding: 16px;
  transition: 0.3s;

  width: 350px;
  &.input-disabled {
    background-color: $color-gray-100;
    border-color: $color-gray-200;
  }
  &.input-validate {
    & + .clue {
      height: fit-content;
    }
    &:invalid {
      border-color: $alert-error;
      & + .clue {
        color: $alert-error;
      }
    }
    &:valid {
      border-color: $alert-sucess;
    }
  }

  &.icon-user {
    display: block;
    position: relative;
    &::after {
      content: "oie";
    }
  }

  &:hover {
    border-color: $color-gray-300;
  }

  &:focus {
    border-color: $color-primary-400;
    outline: none !important;
    &:invalid {
      + .clue {
        height: fit-content;
        opacity: 1;
      }
    }
  }

  &::placeholder,
  .input-placeholder {
    color: $color-gray-300;
    opacity: 1;
  }
}

.input-label {
  color: $color-gray-500;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
}

.input-icon {
  position: absolute;
  right: 17px;
  top: 38px;
}

.clue {
  color: $color-gray-400;
  font-size: 11px;
  font-weight: 500;
  height: 0;
  letter-spacing: -0.25px;
  line-height: 16px;
  opacity: 0;
  overflow: hidden;
  transition: 0.6s;
}

.button {
  border-radius: 5px;
  border: none;
  font-family: $font-roboto;
  height: fit-content;
  min-width: 350px;
  padding: 16px;
  transition: 0.3s;

  &.button-primary {
    background-color: $color-primary-400;
    box-shadow: $color-primary-400;
    color: $txt-color-light;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    &:hover {
      background-color: $color-primary-300;
    }
    &:active {
      background-color: $color-primary-500;
    }
  }
  &.button-outline-primary {
    @extend .button-primary;
    background-color: #fafafa;
    border: solid 1.5px;
    color: $color-primary-400;
    &:hover {
      background-color: #fafafa;
      color: $color-primary-300;
    }
    &:active {
      color: $color-primary-500;
    }
  }
  &.button-primary-export {
    @extend .button-primary;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    min-width: 160px;
    &.btn-loading {
      @extend .button-outline-primary;
    }
  }
  &.btn-loading {
    & .btn-txt {
      display: none;
    }
    & .spinner-border-md {
      display: block;
    }
  }
  & .spinner-border-md {
    border-width: 2.5px;
    display: none;
    height: 20px;
    width: 20px;
  }
}
