.header {
  max-width: 1440px;
  &.container {
    background-color: blue;
  }
  & .header-col-start {
    background-image: linear-gradient(map-get($map: $color-gray, $key: "gray-100"),#0000);
    height: 100vh;
    max-width: 800px;
  }
  & .header-col-end {
    border: solid 1px;
    height: 100vh;
    max-width: 800px;
  }
}
